* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    width: 100vw;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Bird */
.bird {
    position: fixed;
    height: 60px;
    width: 80px;
    top: 40vh;
    left: 30vw;
    z-index: 5;
    pointer-events: none;   /* supaya klik/tap tidak terhalang gambar burung */
}

/* Pipes */
.pipe_sprite {
    position: fixed;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-image: url('images/pipe.png');
    background-size: cover;
    z-index: 2;
}

/* Score */
.score {
    position: fixed;
    z-index: 10;
    top: 5vh;
    left: 5vw;
    font-size: 5vh;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Game over / start message */
.message {
    position: fixed;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.8);
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vh 4vh;
    border-radius: 10px;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    font-family: Arial, sans-serif;

    pointer-events: none;  /* PENTING agar Android tetap bisa klik/tap */
}

.messageStyle {
    display: block;
}
